@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    background-color: #3D3D3D;
}
/* styles.css */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }


h1, h2, label{
    font-family: 'Comfortaa';
}
p{
    font-family: 'Montserrat';
}
h1{
    text-align: center;
}
header h1{
    background-color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 40px;
    margin: auto;
    margin-top: 20px;
}
#performers{
    width: fit-content;

    max-width: 80vw;
    margin: auto;

}
#gdiv{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: auto;
    margin-top: 30px;
}
#gdiv a {
    font-style: normal;
    text-decoration: none;
    color: black;
}
#performers h2{
    background-color: white;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.info{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    margin: 10px;
    opacity: 0; 
    transition: opacity 1s ease-in, transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); 
}


.info:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 255, 0, 1);
  }
#detailResults{
    display: none;
    width: 85vw;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); 
    padding-bottom: 20px;
    border-radius: 10px;
}
#detailResults h2{
    margin: 6% 20vw ;
 
    padding: 5px 10px; 
    border-radius: 20px;
    background-color: white;
    max-width: 70vw ;
}

#detailResults canvas, #detailResults p {
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 4px 12px black;
}
.info.fade-in {
    opacity: 1; 
}

form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
    margin-top: 200px;
    padding: 10px 20px;
    min-width: 200px;
    border-radius: 20px;

}
#search{
    border-radius: 20px;
    width: 40vw;
    height: 30px;
    margin: 20px;

}
label{
    background-color: white;

    margin: auto;
    padding: 5px 10px;
    border-radius: 20px;
    
}

footer{
    background-color: white;
    width: fit-content;
    margin-top: 100px;
    padding: 1px 20px;
    border-radius: 20px;
}